@charset "UTF-8";







/* 첨부파일 쪽*/

.files-button{width:120px;height:30px;;border:1px solid #eee}
#files-input{    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;}

#file-lists{padding:50px 0;cursor:pointer;background:#e8e8e8;}

#modifyImgLists{width:100%;padding:30px 0;cursor:pointer;background:#e8e8e8;}

#modifyImgFile{    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;}
