@charset "UTF-8";


.list-area{display:flex}
.list-area .lists{width:30%;}
.list-area .list-detail{width:70%}



.list-detail #room-info{display:none;}
.room-area{margin-top:30px;border:1px solid #eee;padding:0 20px;}
.room-area-header{padding:20px 0;cursor:pointer;}
.room-area form{/*display:none;*/}

/* 첨부파일 쪽*/

.files-button{width:120px;height:30px;;border:1px solid #eee}
#files-input{    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;}
    
    
    #file-lists{padding:50px 0;cursor:pointer;background:#e8e8e8;}