@charset "UTF-8";


.room{position:relative;}

.room-lists-area{display:none;position:absolute;top:100%;left:-25px;background:#fff;width:320px;}
.room-lists{list-style:none;
	display:flex;padding-left:0;}
.room-lists li {}
.room-lists li a{display:block;padding:20px;}
